In [3]:
import pandas as pd

In [4]:
data = pd.read_csv("times_series_data_no_labels.csv" ,
    # index_col='datetime',
    parse_dates=['datetime']
    )
data.head()

             datetime     data_0     data_1
0 2023-01-01 00:00:00  21.719925  19.925141
1 2023-01-01 00:05:00  21.357656  19.671888
2 2023-01-01 00:10:00  20.178934  19.543689
3 2023-01-01 00:15:00  19.197688  18.872886
4 2023-01-01 00:20:00  20.098658  19.599005

In [16]:
data_0_anomaly = [
    ("2023-01-03 01:15:00",
     "2023-01-03 01:25:00"),

    ("2023-02-05 01:50:00",
     "2023-02-05 02:15:00"),

    ("2023-02-10 14:15:00",
     "2023-02-10 15:10:00"),

    ("2023-03-31 05:20:00",
     "2023-03-31 11:20:00"),

    ("2023-03-06 07:10:00",
     "2023-03-06 09:25:00"),

    ("2023-03-23 13:05:00",
     "2023-03-23 14:00:00"),

    ("2023-04-14 04:30:00",
     "2023-04-14 10:40:00"),

    ("2023-05-05 13:30:00",
     "2023-05-05 14:20:00"),

    ("2023-06-02 05:15:00",
     "2023-06-02 11:45:00")
]

data_1_anomaly = [
    ["2023-01-03 01:45:00",
     "2023-01-03 01:50:00"],

    ["2023-01-03 22:30:00",
     "2023-01-03 22:40:00"],

    ["2023-02-05 01:25:00",
     "2023-02-05 01:55:00"],

    ["2023-02-03 01:35:00",
     "2023-02-03 02:00:00"],

    ["2023-03-31 05:25:00",
     "2023-03-31 11:40:00"],

    ["2023-03-23 13:30:00",
     "2023-03-23 14:25:00"],

    ["2023-03-28 22:35:00",
     "2023-03-28 22:50:00"],

    ["2023-04-14 04:35:00",
     "2023-04-14 10:30:00"],

    ["2023-05-13 07:15:00",
     "2023-05-13 09:25:00"],

    ["2023-05-05 14:00:00",
     "2023-05-05 14:55:00"],

    ["2023-06-02 05:15:00",
     "2023-06-02 11:30:00"]
]

In [17]:
data['data_0_anomaly'] = 0
data['data_1_anomaly'] = 0
def add_anomaly(df, sensor, anomaly_timestamps):
    if sensor == 0:
        for timestamp in anomaly_timestamps:
            print(timestamp)
            df.loc[(df['datetime'] >= pd.to_datetime(timestamp[0])) & (df['datetime'] <= pd.to_datetime(timestamp[1])), 'data_0_anomaly'] = 1
    else:
        for timestamp in anomaly_timestamps:
            df.loc[(df['datetime'] >= pd.to_datetime(timestamp[0])) & (df['datetime'] <= pd.to_datetime(timestamp[1])), 'data_1_anomaly'] = 1

In [21]:
add_anomaly(data, 0, data_0_anomaly)
add_anomaly(data, 1, data_1_anomaly)

('2023-01-03 01:15:00', '2023-01-03 01:25:00')
('2023-02-05 01:50:00', '2023-02-05 02:15:00')
('2023-02-10 14:15:00', '2023-02-10 15:10:00')
('2023-03-31 05:20:00', '2023-03-31 11:20:00')
('2023-03-06 07:10:00', '2023-03-06 09:25:00')
('2023-03-23 13:05:00', '2023-03-23 14:00:00')
('2023-04-14 04:30:00', '2023-04-14 10:40:00')
('2023-05-05 13:30:00', '2023-05-05 14:20:00')
('2023-06-02 05:15:00', '2023-06-02 11:45:00')