In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("times_series_data_no_labels.csv" ,
    # index_col='datetime',
    parse_dates=['datetime']
    )
data.head()

             datetime     data_0     data_1
0 2023-01-01 00:00:00  21.719925  19.925141
1 2023-01-01 00:05:00  21.357656  19.671888
2 2023-01-01 00:10:00  20.178934  19.543689
3 2023-01-01 00:15:00  19.197688  18.872886
4 2023-01-01 00:20:00  20.098658  19.599005

In [3]:
# data["month"] = data["datetime"].dt.month
# data["true_anomaly"] = 0
# data

In [4]:
data_1_anomaly = [
    ("2023-03-04 04:50:00",
     "2023-03-04 04:50:00"),

    ("2023-03-20 05:00:00",
     "2023-03-20 05:00:00"),

    ("2023-03-23 13:30:00",
     "2023-03-23 14:25:00"),

    ("2023-03-28 01:20:00",
     "2023-03-28 01:20:00"),

    ("2023-03-28 22:05:00",
     "2023-03-28 22:50:00"),

    ("2023-03-31 05:25:00",
     "2023-03-31 11:55:00")
]

data_0_anomaly = [
    ["2023-03-06 07:10:00",
     "2023-03-06 09:25:00"],

    ["2023-03-18 04:25:00",
     "2023-03-18 04:25:00"],

    ["2023-03-20 05:00:00",
     "2023-03-20 05:00:00"],

    ["2023-03-23 13:05:00",
     "2023-03-23 13:55:00"],

    ["2023-03-28 22:05:00",
     "2023-03-28 22:30:00"],

    ["2023-03-31 05:20:00",
     "2023-03-31 11:15:00"]
]

In [5]:
data['data_0_anomaly'] = 0
data['data_1_anomaly'] = 0
def add_anomaly(df, sensor, anomaly_timestamps):
    if sensor == 0:
        for timestamp in anomaly_timestamps:
            print(timestamp)
            df.loc[(df['datetime'] >= pd.to_datetime(timestamp[0])) & (df['datetime'] <= pd.to_datetime(timestamp[1])), 'data_0_anomaly'] = 1
    else:
        for timestamp in anomaly_timestamps:
            df.loc[(df['datetime'] >= pd.to_datetime(timestamp[0])) & (df['datetime'] <= pd.to_datetime(timestamp[1])), 'data_1_anomaly'] = 1

In [6]:
add_anomaly(data, 0, data_0_anomaly)
add_anomaly(data, 1, data_1_anomaly)

['2023-03-06 07:10:00', '2023-03-06 09:25:00']
['2023-03-18 04:25:00', '2023-03-18 04:25:00']
['2023-03-20 05:00:00', '2023-03-20 05:00:00']
['2023-03-23 13:05:00', '2023-03-23 13:55:00']
['2023-03-28 22:05:00', '2023-03-28 22:30:00']
['2023-03-31 05:20:00', '2023-03-31 11:15:00']

In [7]:
data.set_index("datetime", inplace=True)

In [8]:
data.to_csv("times_series_data_march_labels.csv")